@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
    max-height: 100%;
    max-width: 100%;
    border: 0;
    /* background: -webkit-linear-gradient(right, #f2f2f2, #f2f2f2);
    background: -moz-linear-gradient(right, #f2f2f2, #f2f2f2);
    background: -o-linear-gradient(right, #f2f2f2, #f2f2f2);
    background: linear-gradient(to left, #f2f2f2, #f2f2f2);*/
    font-family: "Raleway", sans-serif;
}

.list h1{
    color: #FFFFFF;
    font-family: Quicksand,sans-serif;
    font-size: 28px;
    padding: 8px 0 0 30px;
}

.list h2{
    color: #FFFFFF;
    font-family: Quicksand,sans-serif;
    font-size: 24px;
    padding: 8px 0 0 50px;
}
a:link{
    background: #3b3340;
    text-decoration: none;
}
.username h1 {
    color: #FFFFFF;
    font-family: Quicksand,sans-serif;
    letter-spacing: -0.05em;
    font-size: 33px;
    line-height: 20px;
    margin: 5px 0 25px;
}

.main-page {
    background: #3b3340;
    float: left;
    position: fixed;
    height: 100%;
    width: 240px;
}

.imglogo1{
    margin: 4px 28px 0;
}

.avatar {
    margin: 25px 60px 0;
   /* position: fixed;*/
    height: 120px;
    width: 120px;
}

.username{
    weight: 100%;
    text-align: center;
    margin: 25px 0 0;
}
