@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  
  background: url(../../../../img/login.jpg) no-repeat center center fixed;
  background-size: cover;
  max-height: 100%;
  max-width: 100%;
    
/*  background: -webkit-linear-gradient(right, #f2f2f2, #f2f2f2);
  background: -moz-linear-gradient(right, #f2f2f2, #f2f2f2);
  background: -o-linear-gradient(right, #f2f2f2, #f2f2f2);
  background: linear-gradient(to left, #f2f2f2, #f2f2f2);*/
  font-family: "Raleway", sans-serif;     
}

h1{ font-size:28px;}

.registration-form h1 {
	color: #7E7E7E;
	font: bold 29px Helvetica, Arial, sans-serif;
	letter-spacing: -0.05em;
	line-height: 20px;
	margin: 5px 0 25px;
}

.registration-page {
  width: 450px;
  padding: 3% 0 0;
  margin: 0 auto 0;
}

.registration-form {
  position: center;
  z-index: 1;
  background: #FFFFFF;
  width: 450px;
  margin: 5% auto 5%;
  padding-top: 35px;
  padding-bottom: 75px;
  padding-left: 45px;
  padding-right: 45px;
  text-align: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.registration-form input {
  font-family: "Raleway", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.registration-form button {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #8c8cc4;
  width: 25%;
  border: 0;
  padding: 12px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  float: right;
  margin: 0 0 0 0;
}

.registration-form button:hover,.registration-form button:active,.registration-form button:focus {
  background: #8c8cc9;
}

.registration-form .message {
  margin: 0 0 0;
  color: #b3b3b3;
  font-size: 13px;
  float: left;
}

.registration-form .message a {
  color: #61618F;
  text-decoration: none;
}