body {
    max-height: 100%;
    max-width: 100%;
    outline: 0;
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: lighter;

    background: -webkit-linear-gradient(right, #f2f2f2, #f2f2f2);
    background: -moz-linear-gradient(right, #f2f2f2, #f2f2f2);
    background: -o-linear-gradient(right, #f2f2f2, #f2f2f2);
    background: linear-gradient(to left, #f2f2f2, #f2f2f2);
    background: #f2f2f2;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 18px;
}
div {
    display: block;
}
hr{
    margin: 5px auto 0;
    border: none;
    background-color: #3b2d42;
    color: #3b2d42;
    height: 1px;
    width: 215px;
}

.control-panel {
    background: #292131;
    display: block;
    float: left;
    position: fixed;
    height: 100%;
    width: 230px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2), 0 5px 5px 2px rgba(0, 0, 0, 0.24);
}

.logo{
    margin: 6px 28px 0;
    height: 50px;
    width: 176px;
}

.avatar {
    margin: 20px auto 0;
    /* position: fixed;*/
    height: 100px;
    width: 100px;
}
.username{
    weight: 100%;
    text-align: center;
    margin: 20px 0 0;
}

.username h1 {
    color: #FFFFFF;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    letter-spacing: 0em;
    font-size: 28px;
    line-height: 20px;
    margin: 5px 0 25px;
    font-weight: lighter;
}

.list-option {
    margin: 25px 0 0;
    /*text-align: center;*/
}
.list-option h1{
    color: #FFFFFF;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 28px;
    font-weight: lighter;
}

.list-option h2{
    color: #FFFFFF;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 19px;
    letter-spacing: 0.05em;
    margin: 15px 25px 15px;
    font-weight: lighter;
}
.list-option img{
    margin: 0 17px 0 0;
}

a:link, a:hover, a:active, a:visited{
    background: #292131;
    color: #292131;
    text-decoration: none;
}
.control-panel h2{
    color: #FFFFFF;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 19px;
    letter-spacing: 0.05em;
    margin: 15px 25px 15px;
    font-weight: lighter;
}
.log-out{
    float: bottom;
}
.main-page{
    background: #f2f2f2;
    max-height: 100%;
    max-width: 100%;
    outline: 0;
    position: relative;
    box-sizing: border-box;
    margin: 0 230px 0;
}
.top-panel {
    z-index: 1;
    background: #F8F7F7;
    float: top;
    position: fixed;
    height: 62px;
    width: 100%;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    box-shadow: 0 0 6px 0 rgba(25,25,34,.16);
}

.top-panel button{
    display: block;
    background: #FFFFFF;
    color: black;
    outline: 0;
    border: 0;
    float: left;
    text-transform: uppercase;
    height: 65px;
    width: 17%;
    padding: 12px;
    margin: 0 0 0 0;
    cursor: pointer;

    font-size: 14px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    box-shadow: 0 0 6px 0 rgba(25,25,34,.16);
}
. top-panel button:hover button:active button:focus {
    background: #f2f2f2;
}
.cont {
    outline: 0;
    position: absolute;
    background: #FFFFFF;
    width: 119%;
    text-align: center;
    height: 640px;
    border-radius: 5px;
    margin: 77px 15px 15px;
    box-shadow: 0 0 6px 0 rgba(25,25,34,.16);
}
.cont h1{
    font-size: 80px;
    color: #AEADAD;
    font-weight: lighter;
}